@model IEnumerable<Ebay.Models.CartItem>

<div class="row">
    <h4>
        Cart
    </h4>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>
                    Item
                </th>

                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        @if (Model == null)
        {
            <tbody>
                <tr class="text-center">
                    <td colspan="4">
                        Shopping Cart Is Empty
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                <img class="rounded" src="@Html.DisplayFor(modelItem => item.Product.Image)" width="75" height="75" />
                            </td>
                            <td>
                                @item.Product.Name
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                $@(item.Quantity * item.Product.Price)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        }


    </table>

    @if (Model != null)
    {
        <div>
            <h6 class="fw-bold">Total: $@Model.Sum(x => x.Quantity * x.Product.Price)</h6>
        </div>
    }
</div>